body {
    background: #292929;
    font-family: "EB Garamond", serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-height: calc(100vh - 80px);
    width: fit-content;
}

.cover-image {
    height: auto;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    max-height: calc(100vh - 80px);
    max-width: 100%;
    object-fit: contain;
    width: auto;
}

a {
    color: #f3f3f3bd;
}

a:visited {
    color: #f3f3f3bd;
}

.site-footer {
    background-color: #1F1F1F;
    bottom: 0;
    color: #f3f3f3ce;
    font-size: 20px;
    font-variant: small-caps;
    height: 60px;
    left: 0;
    line-height: 1.5;
    position: fixed;
    right: 0;
}


.footer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 32px;
}

.arrow-left, .arrow-right {
    text-decoration: none;
}

.arrow-left:hover, .arrow-right:hover, .navbar-container a:hover {
    font-weight: bold;
}